$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: OutfitBold;
  src: url(../fonts/Outfit-Bold.ttf);
  font-weight: 700;
}

body {
  font-family: Outfit;
  background-color: $Lightgray;
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    section {
      width: 80%;
      background-color: $White;
      text-align: center;
      padding: 1.2rem;
      border-radius: 1.4rem;
      @media screen and (min-width: 400px) {
        width: 335px;
      }
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
      h2 {
        color: $Darkblue;
        margin: 1rem 0;
        font-family: OutfitBold;
      }
      P {
        font-size: 15px;
        color: $Grayishblue;
        padding: 1rem;
      }
    }
  }
}
